---
page_title: "bluecat Provider"
subcategory: ""
description: |-
  The BlueCat provider is used to interact with BlueCat Address Manager.
---

# BlueCat Provider

The BlueCat provider is used to interact with BlueCat Address Manager.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
